body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1, h2 {
  text-align: center;
  color: #e77b07;
}
p {
  text-align:center;
}

div {
  padding: 2rem;
}

/* Home Section */
.home {
  background: url('/home-bg.jpg') center center / cover no-repeat fixed;
  padding: 100px 20px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}

/* About Section */
.about {
  background: url('/about-bg.jpg') center center / cover no-repeat fixed;
  padding: 100px 50px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}

/* Portfolio Section */
.portfolio {
  background: url('/portfolio-bg.jpg') center center / cover no-repeat fixed;
  padding: 100px 20px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.6);

}

/* Contact Section */
.contact {
  background: url('/contact-bg.jpg') center center / cover no-repeat fixed;
  padding: 100px 20px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}



